version: '3.9'

services:
  partyplane:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: partyplane-generator
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
